<template lang="pug">
.product
  .product-image
    .color-box(v-for="change in changes" @mouseover="updatePhoto(change.changePhoto)")
      <img src='{ change.changePhoto }' height="15px;">
    <img v-bind:src="image" width="220px;">
  .product-info
    |{{  product  }}
    .precio
      p(v-if="Tamaños = 1" style="color: orange;") precio: US$ 19.01      
      p Tamaño:
      select(name="Tamaños" id="tallas" value="Tamaños")
        option(value="0") Seleccionar
        option(value="1") Small
        option(value="2") Medium
        option(value="3") Large
        option(value="4") X-Large 
    var Colores:
    .colores 
      .color-item(v-for="variant in variants" :key="variant.variantId" :style="{ backgroundColor: variant.variantColor}" @mouseover="updateProduct(variant.variantImage)") 
    var Especificaciones:
    ul
    li( v-for="detail in details") {{  detail  }}
  .carrito
    .cart
      p Carrito:({{ cart }})
    p(v-if="inStock") Disponible
    p(v-else :class="{outStock: !inStock}") No Disponible
    select(name="quanty" id="quanty")
      option Cantidad: 1
      option Cantidad: 2
      option Cantidad: 3
      option Cantidad: 4
      option Cantidad: 5
      option Cantidad: 6
      option Cantidad: 7
      option Cantidad: 8
      option Cantidad: 9
      option Cantidad: 10
    button( v-on:click="addToCart" :disabled="!inStock" :class="{ disabledButton: !inStock }") Agregar al carrito
    button(v-on:click="removeToCart" :disabled="!inStock" :class="{ disabledButton: !inStock }") Quitar del carrito
    .comprar
      <img src='https://image.flaticon.com/icons/png/512/39/39546.png' height="15px;" style="margin-right:10px;">  Comprar ahora
    <input type="checkbox" name="transporte"> Agregar opciones de regalo
    br
    br
    p(style="font-size: 13px;") Vendido y enviado por Amazon.com
    .agregar Agregar a la Lista


</template>
<script>
export default {
  name: 'DoreanCmp',
  data() {
    return {
    product: 'Amazon Essentials for Women Crewneck Sweater',
    image: 'https://images-na.ssl-images-amazon.com/images/I/41Bzzxg-gdL._AC_SY355_.jpg',
    inStock: true,
    details: ["80% cotton", "20% polyester", "Imported", "Machine Wash", "0.7' high", "14' wide","This classic crewneck sweater features ribbing on the collar, hem, and cuffs to keep you warm", "This casual wardrobe-essential features a lightweight fabric perfect for comfortable everyday wear", "Comfortable and versatile, this sweater is perfect on its own or as a layer under a blazer or jacket", "Everyday made better: we listen to customer feedback and fine-tune every detail to ensure quality, fit, and comfort"],
    size: ["small", "medium", "large"],
    variants: [
      {
        variantId: 2234,
        variantColor: "rgb(243, 225, 146)",
        variantImage: 'https://images-na.ssl-images-amazon.com/images/I/41Bzzxg-gdL._AC_SY355_.jpg',
      }, 
      {
        variantId: 2235,
        variantColor: "rgb(124, 3, 78)",
        variantImage: 'https://i.pinimg.com/originals/b2/89/d7/b289d7fbf975e5818b43618220c6c85c.png' 
      },
      {
        variantId: 2236,
        variantColor: "rgb(40, 66, 7)",
        variantImage: 'https://i.pinimg.com/originals/c1/f8/a6/c1f8a6f6754985130f26568eea765cc0.jpg' 
      },
      {
        variantId: 2237,
        variantColor: "blue",
        variantImage: 'https://i.pinimg.com/236x/b1/5e/cd/b15ecd3235d22346d67a0e620d485f9c--knit-fashion-knitting-sweaters.jpg' 
      },
      {
        variantId: 2238,
        variantColor: "rgb(12, 58, 48)",
        variantImage: 'https://ae01.alicdn.com/kf/HTB1r5N2AMKTBuNkSne1q6yJoXXal/Chompas-de-mujer-para-el-invierno-Autumn-Winter-Warm-Women-Sweaters-and-Pullovers-O-Neck-Batwing.jpg_220x220q90.jpg' 
      },
      {
        variantId: 2239,
        variantColor: "black",
        variantImage: 'https://ae01.alicdn.com/kf/HTB1KZWCI4SYBuNjSspjq6x73VXaA/Chompas-de-mujer-para-el-invierno-Oto-o-invierno-su-teres-y-jerseys-abrigados-cuello-redondo.jpg' 
      }
    ],

    changes:[
      {
        changeSpace:"front",
        changePhoto:'https://images-na.ssl-images-amazon.com/images/I/41Bzzxg-gdL._AC_SY355_.jpg'
      },
      {
        changeSpace:"back",
        changePhoto:'https://i.pinimg.com/originals/11/98/54/119854d382a5e1d43b8297ec873a119f.jpg' 
      }
    ],

    prices:[
      {
        pricesSize: "Small",
        pricesCost: 13
      },
      {
        pricesSize: "Medium",
        pricesCost: 15
      },
    ],
    cart: 0
    }
  },

  methods:{
    updateProduct(variantImage){
      this.image = variantImage
    },
    updatePhoto(changePhoto){
      this.image = changePhoto
    },
    updatePrice(pricesSize){
      this.size = pricesSize
    },
    updateColor(variantColor){
      this.color = variantColor
    },
    addToCart () {
      this.cart += 1
    },
    removeToCart () {
      this.cart -= 1
      if (this.cart <= 0) this.cart = 0
    }
  },
}
</script>
<style lang='scss'>
.color-item{
  width: 25px;
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.product {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: wrap;
  padding-top: 15px;
}

.product-image{
  width: 20%;
  height: 450px;
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
  padding-top: 20px;
  padding-left: 30px;
  color: hide;
}

.product-info{
  width: 53%;
  height: 500px;
  padding-top: 20px;
  padding-left: 15px;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 14px;
}

.color-box{
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: solid 1px;
  cursor: pointer;
}

#tallas{
  width: 100px;
  height: 30px;
  border-color: grey;
  border-radius: 2px;
  background-color: rgb(189, 185, 180);
  cursor: pointer;
}

#tallas:hover{
  background-color: blanchedalmond;
  border-color: chocolate;
}

.precio{
  width: 82%;
  height: 120px;
  padding-left: 20px;
  background-color: rgb(255, 255, 255);
  border-top: solid 1px;
  border-color: gray;
  padding-top: 0;
  margin: 0 0 5px 0;
}

#quanty{
  width: 100px;
  height: 30px;
  border-radius: 2px;
  background-color: rgb(240, 240, 224);
  border: solid 1px;
  border-color: grey;
  margin-bottom: 10px;
}

.carrito{
  width: 17%;
  height: 420px;
  margin-top: 10px;
  margin-left: 20px;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  padding-left: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  border-color: rgb(170, 170, 170);
  border-radius: 4px;
}

.cart{
  width: 85px;
  height: 45px;
  margin-top: 10px;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-left: 5px;
  margin-left: 25%;
  background-color: rgb(233, 229, 229);
  border: 1px solid;
}

button{
  background-color: rgb(241, 160, 8);
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
  color: black;
  border: solid 1px;
  border-color: black;
  border-radius: 5px;
}

button:hover{
  background-color: chocolate;
} 

.colores{
  height: 40px;
  width: 90%;
  display: flex;
  background-color: rgb(255, 255, 255);
  padding-top: 5px;
  border-top: solid 1px;
  border-color: gray;
}

.comprar{
  height: 30px;
  width: 90%;
  background-color: rgb(233, 113, 0);
  padding-top: 8px;
  border: solid 1px;
  border-color: black;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.comprar:hover{
  background-color: rgba(160, 86, 17, 0.582);
}

.agregar{
  height: 30px;
  width: 90%;
  background-color: rgb(226, 224, 221);
  border: solid 1px;
  border-color: grey;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding-top: 5px;
}

.agregar:hover{
  background-color: rgba(141, 141, 141, 0.582);
}
</style>