<template lang="pug">
    .rel
        .prodrel
            p Productos relacionados con este artículo
        .cajaart
            .articulos
                .imagen
                    <img src="https://i.pinimg.com/originals/e2/ed/8c/e2ed8c928b445f797acc5aa1c4343618.jpg" width="96%;" >
                .espec
                    p(id="letras") CC Perfect Slim Fit Polo de manga larga para hombre + elástico | suave ajustable transpirable cuello cuello para hombre manga larga
                .precio
                    p(style="cursor: pointer;") US$ 29.95

            .articulos
                .imagen
                    <img src="https://d26lpennugtm8s.cloudfront.net/stores/258/107/products/34708667-05c8-4b11-bb6c-e47ad6e57774_nube-d863248eb57987dfdb15737552474970-640-0.jpg" width="72%;" >
                .espec
                    <p id="letras">CC Perfect Slim Fit Polo Camisetas para hombre + elástico | transpirable que absorbe el sudor de manga corta cuello ajustado para hombre
                    </p>
                .precio
                    p(style="cursor: pointer;") US$ 29.95
            .articulos
                .imagen
                    <img src="https://i.pinimg.com/originals/8b/b9/47/8bb947bc6a47c2c2aca8592cd7947fc0.jpg" width="72%;" >
                .espec
                    <p id="letras">Suéteres de cuello redondo para muher Slim Fit | Suéter ligero transpirable para mujer | Suéter suave ajustable para mujer
                    </p>
                .precio
                    p(style="cursor: pointer;") US$ 29.95
            .articulos
                .imagen
                    br
                    <img src="https://i.linio.com/p/0c32a347923c99e02c9eefa50d69d7ef-catalog.jpg" width="93%;" >
                .espec
                    <p id="letras">Suéteres de cuello redondo para hombre CC Perfect Slim Fit | Suéter ligero transpirable para hombre | Suéter suave ajustable para hombre
                    </p>
                .precio
                    p(style="cursor: pointer;") US$ 29.95
            .articulos
                .imagen
                    <img src="https://cdn.shopify.com/s/files/1/2290/2055/products/blancacuellov_1024x1024.jpg?v=1509390639" width="65%;" >
                .espec
                    <p id="letras">CC Perfect Slim Fit Camisetas para Hombres | Ultra Suave Ajustado Cuello Redondo Camisetas para Hombres | Manga Corta para Hombre
                    </p>
                .precio
                    p(style="cursor: pointer;") US$ 29.95
            .articulos
                .imagen
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61k9R0VKYgL._AC_UX679_.jpg" width="72%;" >
                .espec
                    <p id="letras">CC mezcla de algodón Slim Fit cuello en V Chaleco para hombre | Chalecos ligeros y transpirables para hombres | Chalecos para hombre 
                    </p>
                .precio
                    p(style="cursor: pointer;") US$ 29.95

</template>
<script>

</script>
<style lang="scss" scoped>
    .rel{
        height: auto;
        width: 100%;
        margin-top: 40px;
        border: solid 1px;
        border-color: rgb(185, 185, 185);
        padding: 5px 0 5px 0;
    }
    .prodrel{
        width: 100%;
        height: 40px;
    }
    .cajaart{
        width: 100%;
        height: auto;
        display: flex;
        padding: 0 0 10px 0;
    }
    .articulos{
        width: 25%;
        height: auto;
        padding-left: 1px;
        margin-left: 1%;
        margin-right: 2.3%;
        padding-top: 10px;
        border: solid 1px;
        border-color:rgb(240, 238, 238);
        border-radius: 5px;
    }
    .imagen{
        align-items: center;
        align-content: center;
        width: 100%;
        height: auto;
        text-align: center;
        cursor: pointer;
    }
    .espec{
        width: 93%;
        height: auto;
        padding-top: 5px;
        border-top: gray;
        padding-left: 4px;
    }
    .precio{
        width: 81%;
        height: auto;
        color: rgb(122, 0, 0);
        font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        margin-top: 10px;
    }
    #letras{
        color: rgb(1, 1, 102);
        font-size: 12px;
        cursor: pointer;
    }
    #letras:hover{
        text-decoration: underline;
        color: rgb(216, 80, 1);
    }
</style>