<template lang="pug">
#app
  header-cmp 
  dorean-cmp
  relacionados-cmp
  preguntas-cmp
  descripcion-cmp
  coments-cmp
  comentarios-cmp
  footer-cmp
</template>
<script>
import HeaderCmp from '@/components/HeaderCmp';
import DoreanCmp from '@/components/DoreanCmp';
import RelacionadosCmp from '@/components/RelacionadosCmp';
import PreguntasCmp from '@/components/PreguntasCmp';
import DescripcionCmp from '@/components/DescripcionCmp';
import ComentsCmp from '@/components/ComentsCmp';
import ComentariosCmp from '@/components/ComentariosCmp';
import FooterCmp from '@/components/FooterCmp'
export default {
  components: {
    HeaderCmp,
    DoreanCmp,
    RelacionadosCmp,
    PreguntasCmp,
    DescripcionCmp,
    ComentsCmp,
    ComentariosCmp,
    FooterCmp
  }
}
</script>
<style lang='scss'>
body {
  margin:  0;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

#app {
  background-color: #ece6e77e;
  width: 100%;
  height: 1000px;
}
</style>

