<template lang="pug">
.contenedor
  h1(@click="clickbtn()") Presionar
</template>
<script>
export default {
  methods: {
    clickbtn() {
      this.$emit('cambiar-titulo', 'Hola cambiamos de titulo')
    }
  }
}
</script>
<style scoped>
.contenedor {
  width: 300px;
  height: 45px;
  border-radius: 6px;
  background-color: chartreuse;
  cursor: pointer;
}
</style>