<template lang="pug">

.nav
  p 
  .boton1
    router-link(to="/profile") Perfiles

  p
  .boton1 
    router-link(to="/about") About
    
  p
  .boton1
    router-link(to="/") Inicio
  
</template>
<script>

import HeaderCmp from '@/components/HeaderCmp';
import FooterCmp from '@/components/FooterCmp'
export default {
  components: {
        HeaderCmp,
    FooterCmp
  }
}

</script>
<style lang="scss" scoped>

.nav {
  background-color: rgb(80, 146, 247);
  width: 100%;
  height: 65px;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex; 
}

.boton1{
  padding-top: 5px;
  width: 80px;
  height: 30px;
  background-color: null;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px; 
  border-radius: 8px;
}

.boton1:hover{
background-color: aliceblue;
}
</style>