<template lang="pug">
.container
  input(v-model="email" placeholder="Email" type="email")
  input(v-model="password" placeholder="Password" type="password")
  input(v-model="repassword" placeholder="repeat password" type="password")
  button(@click="onSubmit") Entrar

</template>
<script>
export default {
  data() {
    return {
      email: null,
      password: null,
      repassword: null
    }
  },
  methods: {
    onSubmit() {
      if(this.password === this.repassword) this.onSend(this.email, this.password);
      else alert('No son iguales la contrasena y la verificacion')
    },
    onSend(email, password) {
      this.$store.dispatch('CREAR_USUARIO', {email, password})
    }
  }
}
</script>
<style lang="scss">
.container {
  width: 200px;
  height: 200px;
  background-color: darkmagenta;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  padding: 20px;
}

.container > * {
  margin-bottom: 10px;
}

input {
  height: 25px;
  border-radius: 5px;
  border-style: none;
}

button {
  height: 25px;
  border-radius: 5px;
  border-style: none;
  background-color: darkorange;
}
</style>

