// <template lang="pug">
.pagina
  | About page


</template>
<script>
export default {
  name: 'About',
 
  computed: {
      imageHeight () {
        switch (this.$vuetify.breakpoint.name) {
          case 'xs': return '220px'
          case 'sm': return '400px'
          case 'md': return '500px'
          case 'lg': return '600px'
          case 'xl': return '800px'
        }
      },
    },
}
</script>
<style lang="scss" scoped>
.pagina{
  width: 200px;
  height: 200px;
  background-color: rgb(202, 199, 21);
}

.breacks{
  width: 100%;
  height: 200px;
  background-color: chocolate;
}
</style>