body {
    margin: 0;
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding-left: 2px;
}

.nav-bar {
    width: 100%;
    height: 100px;
    background-color: rgb(102, 190, 91);
}

.product {
    display: flex;
    flex-flow: wrap;
    padding-left: 10px;
  }

.color-box{
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.disabledButton {
    background-color: rgb(211, 210, 206);
}

img {
    border: 1px solid #918f8f;
    margin-top: 25px;
    margin-right: 10px;
    padding-right: 10px;
    margin-left: 15px;
}

button{
    background-color: cadetblue;
    border-style: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-flow: wrap;
}

button:hover{
    background-color: chocolate;
    border-radius: 5px;
} 

.outStock{
    text-decoration: line-through;
}

.cart{
    width: 75px;
    height: 45px;
    margin-top: 10px;
    align-items: center;
    align-content: center;
    padding-left: 15px;
    background-color: rgb(233, 229, 229);
    border: 1px solid;
}

input {
    width: 70%;
    height: 50px;
    background-color: rgb(255, 252, 249);
    border-color: rgb(231, 234, 235);

}

.review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #b31919;
    align-items: center;
    align-content: center;
    display: flexbox;
}

textarea {
    width: 100%;
    height: 60px;
    background-color: rgb(243, 239, 239);
}

#yesNo {
    width: 200px;
    height: 150px;
    margin-left: 80px;
    padding-top: 10px;
    padding-left: 25px;
    background-color: null;
    display: grid;
    border: 1px solid;   
    border-color: rgb(150, 146, 146);
}   

#submit {
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 140px;    
}

#reviews {
    background-color: null;
    width: 250px;
    height: auto;
    padding-left: 30px;
    margin-top: 250px;
    border: 1px solid;
}