<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue tenth challenge</title>
</head>
<body>

    <div class="nav-bar"></div>

    <div id="app">
        <div class="cart">
            <p>Cart ({{ cart.length }})</p>
        </div>
        
        <product :premium="premium" 
        @add-to-cart="updateCart"
        @remove-to-cart="remCart"
        ></product>
            
    </div>
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./index.js"></script>
</body>
</html>
</html>