<template lang="pug">
#app
  div(v-if="login")
    login-cmp
  div(v-if="!login")
    button(@click="signOut") Sign Out
</template>
<script>
import LoginCmp from '@/components/LoginCmp'
export default {
  components: {
    LoginCmp
  },
  data: () => {
    return {
      login: false
    }
  },
  created() {
    if(this.$store.state.user === null) this.login = true
  },
  methods: {
    signOut() {
      this.$store.dispatch('SIGN_OUT_USER')
    }
  }
}
</script>