<template lang="pug">
.pagina
  | About page
</template>
<script>
export default {
  name: 'About',
}
</script>
<style lang="scss" scoped>
.pagina{
  width: 200px;
  height: 200px;
  background-color: rgb(95, 226, 43);
}
</style>