<template lang="pug">
.pagina
  | Perfil page
</template>
<script>
export default {
  name: 'Profile',
}
</script>
<style lang="scss" scoped>
.pagina {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
}
</style>