<template lang="pug">
#app
  
  .contenedor
 
  
  .array <h3>Arreglo</h3> <li  v-for="detail in details">
    | {{ detail }} </li>

 
  .botonera <input type="button" id="btn1" value="Botón 1"><input type="button" id="btn2" value="Botón 2"><input type="button" id="btn1" value="Botón 3">

  .convers <h2>chat</h2> <input class="chat" value="Ingrese un comentario">
  
</template>
<script>
export default {
  data() {
    return {
      details: ["Opción 1", "Opción 2", "Opción 3"],
    }
  }
}
</script>

<style lang='scss'>
body {
  margin:  0;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

#app {
  background-color: #ece6e77e;
  width: 100%;
  height: 1000px;
}

.contenedor {
  background-color: rgb(80, 146, 247);
  width: 100%;
  height: 60px;
}

.array {
  width: 180px;
  height: 100px;
  margin-top: 5px;
  padding-left: 75px;
  margin-left: 1px;
  margin-bottom: 5px;
}

.convers {
  width: 99.5%;
  height: 500px;
  padding-left: 5px;
  border-radius: 2px;
  padding-top: 2px;
  background-color: rgba(7, 30, 104, 0.158);
}

.chat {
  width: 99%;
  height: 50px;
  background-color: bisque;
  border-radius: 10px;
}

.botonera{
  height: 70px;
  width: 100%;
  padding-top: 17px;
  text-align: center;
}

#btn1 {
  width: 180px;
  height: 50px;
  background-color: chocolate;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

#btn1:hover{
  background-color: rgb(106, 4, 165);
  color: rgb(212, 227, 240);
  }

#btn2 {
  width: 180px;
  height: 50px;
  border-radius: 20px ;
  border: solid 1.5px;
  opacity: 0.7;
  border-color: rgb(17, 17, 17);
  cursor: pointer;
}

</style>