<template lang="pug">
    .comentarios

        .caja
            br
            p(v-if="!reviews.length") No hay ninguna calificación.
            ul(v-else)
                li(v-for="(review, index) in reviews" :key="index")
                    p {{ review.name }}
                    p Calificación:{{ review.rating }}
                    p {{ review.review }}
        //- product-review(id="subir" @review-submitted="addReview")
        

        form(class="review-form" @submit.prevent="onSubmit")
    
            p(class="error" v-if="errors.length")
                b Please correct the following error(s):
                ul
                    li(v-for="error in errors") {{ error }}
            p
                label(for="name") Ingrese su nombre: 
                input(id="name" v-model="name")
            p
                label(for="review") Ingrese su comentario: 
                textarea(id="review" v-model="review")
            p
                label(for="rating") Calificación: 
                select(id="rating" v-model.number="rating")
                   option 5
                   option 4
                   option 3
                   option 2
                   option 1
                   option 0
            p ¿Recomienda este producto?
            label
                p Si
                input(type="radio" value="Yes" v-model="recommend")
        
            label
                p No
                input(type="radio" value="No" v-model="recommend")
            p
                input(id="compartir" type="submit" value="Compartir")
    


</template>
<script>
export default {
    data() {
        return {
            name: null,
            review: null,
            rating: null,
            recommend: null,
            errors: [],
            reviews: []
        }
    },
    methods: {
        updateProduct(index) {  
            this.selectedVariant = index
        },
        addReview(productReview) {
          this.reviews.push(productReview)
        },
        onSubmit() {
            this.errors = []
            if(this.name && this.review && this.rating && this.recommend) {
                let productReview = {
                    name: this.name,
                    review: this.review,
                    rating: this.rating,
                    recommend: this.recommend
                }
                this.$emit('review-submitted', productReview)
                this.name = null
                this.review = null
                this.rating = null
                this.recommend = null
            } else {
                if(!this.name) this.errors.push("Name required.")
                if(!this.review) this.errors.push("Review required.")
                if(!this.rating) this.errors.push("Rating required.")
                if(!this.recommend) this.errors.push("Recommendation required.")
            }
        }
    }
}
</script>
<style lang="scss" scoped>
    .comentarios{
        height: 600px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding-left: 15px;
        border-top: solid 1px;
        border-color: grey;
    }


    .review-form {
        width: 30%;
        padding: 20px;
        border: 1px solid #d8d8d8;  
     }
    #review{
        width: 90%;
        height: 60px;
        background-color: rgb(255, 255, 255);
    }
    #compartir{
        width: 70px;
        height: 20px;
        margin-left: 150px;
    }
</style>