<template lang="pug">
    .descripcion
        p 
            h2(style="font-weight: bold;") Descripción del producto
        <p id="desc">  Amazon brand - This long-sleeve button-up shirt features a spread collar, rounded hem, and double-pleated back for a perfect fit with the flex to move with you. <br> <br> Amazon Essentials is focused on creating affordable, high-quality, and long-lasting everyday clothing you can rely on. Our line of men’s must-haves includes polo shirts, chino pants, classic-fit shorts, casual button-downs, and crew-neck tees. Our consistent sizing takes the guesswork out of shopping, and each piece is put to the test to maintain the highest standards in quality and comfort.</p>
        p(id="let") Departamento: Womans
        p(id="let") Fabricante: Amazon Essentials
        p(id="let") ASIN: B077XL22FF
        p(id="let") Código UNSPSC: 53100000
        p(id="let") Producto en amazon.com desde: Junio 18, 2018
   
                
</template>
<script>
</script>
<style lang="scss" scoped>
    .descripcion{
        height: 255px;
        width: 100%;
        border-top: solid 1px;
        border-color: grey;
        padding-left: 20px;
        font-family: sans-serif;
        font-size: 12px;
    }
    #desc{
        padding-left: 30px;
    }
    #let{
        font-weight: bold;
    }
</style>