<template lang="pug">
.footer
  
  a(href="#arriba" id="inicio") 
    p Inicio de página
  .conocenos
    .cono 
      p(style="font-weight: bold;") Conócenos
        p(id="uno") Trabaja con nosotros
        p(id="uno") Blog
        p(id="uno") Acerca de amazon
        p(id="uno") Relaciones con las inversiones
        p(id="uno") Dispositivos amazon
        p(id="uno") Visita Amazon
    .cono
      p(style="font-weight: bold;") Gana dinero con nosotros
        p(id="uno") Vende en Amazon
        p(id="uno") Vende tus servicios en Amazon
        p(id="uno") Vende en Amazon Business
        p(id="uno") Vende tus Apps en Amazon
        p(id="uno") Programa de afiliados
        p(id="uno") Anuncia tus productos
    .cono
      p(style="font-weight: bold;") Productos de pago de Amazon
        p(id="uno") Compra con puntos
        p(id="uno") Recarga tu saldo
        p(id="uno") Convertidor de moneda de Amazon
    .cono
      p(style="font-weight: bold;") Podemos ayudarte
        p(id="uno") Amazon y COVID-1
        p(id="uno") Tu cuenta
        p(id="uno") Tus pedidos
        p(id="uno") Tarifas de Envío y Políticas
        p(id="uno") Devoluciones y Reemplazos
        p(id="uno") Administrar dispositivos
        p(id="uno") Ayuda
  .amazon 
    .logo
      <img src="https://www.festivalclaca.cat/pics/b/17/174571_amazon-logo-png-transparent-background.png" height="30px;">
    select(id="selectidioma" nombre="idioma")
      option(value="1") English
      option(selected value="2") Español
      option(value="3") 简体中文 
      option(value="1") Deutsch
      option(value="2") Português
      option(value="3") 繁體中文
    
    p(id="moneda") $ USD - dólar estadounidense

</template>
<style lang="scss" scoped>
.footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
}
#inicio{
  width: 100%;
  height: 100px;
  background-color: rgb(248, 248, 248);
  color: white;
  text-decoration: none;
  align-content: center;
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
  font-family: 'Trebuchet MS';
}
.conocenos{
  width: 100%;
  height: 400px;
  background-color: #232F3E;
  display: flex;
}

.cono{
  height: 95%;
  width: 25%;
  padding-top: 20px;
  padding-left: 25px;
  text-decoration: none;
  color: white;
  font-family: 'Trebuchet MS';
}

#uno:hover{
  text-decoration: underline;
  cursor: pointer;
}

.amazon{
  height: 100px;
  width: 100%;
  background-color: #232F3E;
  border-top: solid 1px;
  border-color: rgb(97, 97, 97);
  display: flex;
  padding-top: 35px;
}

.logo{
  width: 100px;
  height: 40px;
  background-color: #232F3E;
  padding-top: 15px;
  margin-left: 29%;
  margin-right: 50px;
  cursor: pointer;
}

#selectidioma{
  width: 120px;
  height: 30px;
  background-color: #232F3E;
  margin-top: 7px;
  color:white;
  border-radius: 2px;
  cursor: pointer;
}

#moneda{
  width: 216px;
  height: 24px;
  margin-top: 7px;
  color:white;
  border-radius: 2px;
  border: solid 1px;
  margin-left: 7px;
  padding-top: 4px;
  padding-left: 10px;
  border-radius: 2px;
  font-family: 'Lucida Sans Unicode';
  font-size: 13px;
  cursor: pointer;
}
</style>