<template lang="pug">
.header
  a(name="arriba")
  .parte1
    input(type="checkbox" id="btn-menu")
    label(for="btn-menu" id="menu") 
      <img src="https://lh5.googleusercontent.com/proxy/TkEbDm4TFnZj6IlfKJ_xVFr7iQIlN9G_9c3jzcwiyfQCuU3vDmxPANQiTIzFy4QWS2zsSCYBFm97QMIsYXZrZLPQeyU" height=20px>
    nav(class="menu")
      ul    
        label(for="btn-menu" id="salir") Salir
        li( id="mini" v-for="menu in menus") {{menu}}
    .Logo
      <img src="https://www.festivalclaca.cat/pics/b/17/174571_amazon-logo-png-transparent-background.png" height="30px;">
    .barra
      .select 
        input(type="checkbox" id="btn-todos")
        label(for="btn-todos" class="select") Todos
        nav(class="menu2")
          ul  
            li( id="mini" v-for="todo in todos") {{todo}}
      input(id="busqueda")
      .lupa
        <img src="https://image.flaticon.com/icons/svg/76/76449.svg" height="25px,">
    .idioma1 
      select(class="idioma" nombre="idioma")
        option(value="0") Idioma
        option(value="1") English
        option(selected value="2") Español
        option(value="3") 简体中文 
        option(value="4") Deutsch
        option(value="5") Português
        option(value="6") 繁體中文
    
    .ident Identifícate
    .carrito2 carrito
  .parte2
    .lugar
      <img src="https://library.kissclipart.com/20180829/brq/kissclipart-iconos-twitter-clipart-social-media-computer-icons-38fadb8f5fab227c.png" height="25px" style="margin-right: 7px;"> Enviar
    .otros 
      li(id="ofertas" v-for="oferta in ofertas") {{oferta}}
</template>
<script>

import HeaderCmp from '@/components/HeaderCmp';
import FooterCmp from '@/components/FooterCmp'
export default {
  data(){
    return{
      menus: ["Amazon Music", "Echo y Alexa", "Fire Tablets", "Fire TV", "E-readers Kindle", "Tienda para Android", "Subscribe & Save", "Smart Home", "Tiendas Físicas", "#FoundItOnAmazon"],
      todos: ["Todos los departamentos", "Arte y artesanías", "Electrónica" ,"Automotriz", "Computadoras", "Libros"],
      ofertas: ["Ofertas del dia", "Servicio al Cliente", "Tarjetas de Regalo", "Vender"]
    }
  },
  components: {
    HeaderCmp,
    FooterCmp
  }
}

</script>
<style lang="scss" scoped>
.header {
  background-color: #232F3E;
  width: 100%;
  height: 105px;
  text-align: center;
  padding: 0;
  margin: 0;
  display: block;
}

.parte1 {
  background-color: #232F3E;
  width: 100%;
  height: 50%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex; 
}

.parte2 {
  background-color: #232F3E;
  width: 100%;
  height: 50%;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex; 
} 

.Logo{
  width: 159px;
  height: 39px;
  margin-left: 4px;
  margin-right: 8px;
  margin-top: 2px;
  padding: 9px 4px 0 4px;
  border: solid 1px;
  border-color: #232F3E;
}

.Logo:hover{  
  border-color: white;
}

.barra{
  width: 80%;
  height: 40px;
  background-color: azure;
  display: flex;
  align-content: center;
  border-radius: 8px;
  margin-top: 6px;
  display: flex;
}

#salir{
  width: 100%;
  height: 35px;
  margin-top: -5px;
  padding-top: 12px;
  color: white;
  background-color: #232F3E;
  cursor: pointer;
}

.select{
  width: 65px;
  height: 28px;
  background-color: rgb(225, 225, 233);
  border-radius: 5px 0 0 5px;
  padding-top: 12px; 
  cursor: pointer;
  font-family: sans-serif;
  font-size: 12px;
}

.select:hover{
  background-color: rgb(214, 214, 214);
}

#busqueda{
  height: 85%;
  width: 95%;
}

.lupa{
  width: 46px;
  height: 88%;
  padding-top: 5px;
  background-color: rgb(240, 158, 36);
  border-radius: 0px 5px 5px 0;
  cursor: pointer; 
}

.lupa:hover{
  background-color: rgb(207, 132, 19);
}

.idioma{
  width: 78px;
  height: 40px;
  margin-left: 3px;
  margin-top: 6px;
  padding: 0px 3px 0 3px;
  display: block;
  cursor: pointer;
  border: solid 1px;
  border-color: #232F3E;
  background-color: #232F3E;
  border-radius: 4px;
  color: white;
}

.idioma1{
  width: 78px;
  height: 40px;
  margin-left: 3px;
  padding: 0px 3px 0 3px;
  display: block;
  cursor: pointer;
  border: solid;
  border-color: #232F3E;
  background-color: #232F3E;
  border-radius: 4px;
  color: white;
}


.idioma:hover{
  border-color: white;
}

.ident{
  width: 80px;
  height: 30px;
  margin-left: 3px;
  margin-top: 7px;
  font-family:'Lucida Sans Unicode';
  font-size: 12px;
  padding: 11px 3px 0 3px;
  cursor: pointer;
  border: solid 1px;
  border-color: #232F3E;
  border-radius: 4px;
  color: white;
}

.ident:hover{
  border-color: white;
}

.carrito2{
  width: 80px;
  height: 30px;
  margin-left: 3px;
  margin-right: 3px;
  font-family:'Lucida Sans Unicode';
  font-size: 12px;
  padding: 18px 3px 0 3px;
  cursor: pointer;
  border: solid 1px;
  border-color: #232F3E;
  border-radius: 4px;
  color: white;
}

.carrito:hover{
  border-color: white;
}

#btn-todos{
  display: none;
}

#btn-menu{
  display: none;
}

#menu{
  margin-top: 8px;
  margin-left: 8px;
  padding-left: 5px;
  padding-top: 7px;
  padding-right: 5px;
  height: 27px;
  border-radius: 8px;
  border: solid 1.3px;
  border-color: rgb(179, 179, 179);
  color: aliceblue;
  cursor: pointer;
}

#menu:hover{
  border-color: white;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

#mini {
  margin-top: 7px;
  display: block;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu li:hover{
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.menu li{
  text-align: center;
  flex-grow:1;
}

header label{
  display: block;
}

.menu {
  padding-top: 5px;
  position: absolute;
  background-color: rgb(247, 247, 247);
  width: 28%;
  justify-content: right;
  margin-left: -29%;
  transition: all 1s;
  border: solid 0.1px;
  border-color: gray;
}

.menu ul{
  flex-direction: column;
}

#btn-menu:checked ~ .menu {
  margin: 0;
}

#menu:hover{
  border-color: white;
}

.menu2 {
  padding-top: 5px;
  position: absolute;
  background-color: rgba(231, 233, 236, 0.856);
  width: 300px;
  justify-content: left;
  align-items: left;
  margin-top: -250%;
  transition: all 1s;
  display: flex;
  border: solid 1px;
  border-color: lightslategrey;
}

.menu2 li:hover{
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.menu2 li{
  text-align: center;
  flex-grow:1;
}

#menu-tds:hover{
  border-color: rgb(85, 6, 6);
}

#btn-todos:checked ~ .menu2 {
  margin: 0;
}

.lugar{
  height: 30px;
  width: 100px;
  margin-top: 5px;
  margin-right: 89px;
  border: solid 1px;
  border-color: #232F3E;
  color: white;
  margin-left: 5px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
}

.lugar:hover{
  border-color: white;
}

.otros{
  height: 30px;
  width: 90%;
  margin-top: 2px;
  display: flex;
  word-wrap: none;
}

#ofertas{
  list-style: none;
  height: 30px;
  width: auto;
  padding: 11px 4px 0 4px;
  border: solid 1px;
  border-color: #232F3E;
  margin-left: 2%;
  border-radius: 5px;
  color: rgb(187, 187, 181);
  font-family:'Lucida Sans Unicode';
  font-size: 13px;
  cursor: pointer;
  word-wrap: none;
  display: flex;
}

#ofertas:hover{
  border-color: white;
}
</style>