<template lang="pug">
    .preguntas
        p 
            h2(style="font-weight: bold;") ¿Tienes una pregunta?
        p Busca la información del producto, preguntas frecuentes, opiniones...
        input(type="text" id="pregunta" placeholder="Escribe tu pregunta o palabra clave")
        p Busca en idiomas: 
            select(id="selectidioma" nombre="idioma")
                option(value="1") English
                option(selected value="2") Español
                option(value="3") 简体中文 
                
</template>
<script>
</script>
<style lang="scss" scoped>
    .preguntas{
        height: 180px;
        width: 100%;
        border-block: solid 1px;
        border-color: grey;
        padding-left: 20px;
        font-family: sans-serif;
    }
    #pregunta{
        width: 80%;
        height: 25px;
        border-radius: 3px;
        border: solid 1px;
        border-color: grey;
        padding-left: 3px;
    }
    #pregunta:hover{
        border-color: rgb(235, 140, 15);
    }
</style>