<template lang="pug">
    .videocmp
        audio(autoplay id="musica")
            source(src="./Dep.mp3" type="audio/mp3" allow="autoplay")
        .music
            .pause(type="button" onclick="document.getElementById('musica').pause()") Pausar musica de fondo
                img(src="https://lh3.googleusercontent.com/proxy/YBaVfgW4IUxbBxnimp_boc0OXyrKDD-MQmZeDHMu6i0GO0eFSRe1RUKbWlnad-g5vZ2DH1x8YIuzctII9Dr0WDM7U5GQJyHen-L2tbL-a2GGPNY5ePGutl6yOZsMLO8" height="30px;" style="padding-left:10px;")
            .play(type="button" id="botonmusic" onclick="document.getElementById('musica').play()") Reproducir musica de fondo
                img(src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c4f7.png" height="30px;" style="padding-left:10px;")
        br
        br
        p Mira este video    
        .video1 
            video(id="video1" width="350" height="180" controls autoplay)
                source(src="./eldenring.mp4" type="video/mp4")
        
      
        
</template>
<style lang="scss" scoped>
    .videocmp{
        width: 100%;
        height: 350px;
        padding-top: 20px;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-top: solid 1px;
        border-color: gray;
    }
    .video1{
        height: auto;
        width: auto;
        margin-top: 15px;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .music{
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        height: auto;
        width: 100%;
    }
    .play{
        width: 300px;
        height: 50px;
        background-color: rgb(241, 160, 8);
        cursor: pointer;
        border-radius: 5px;   
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-left: 15px;
        border: solid 1px;
        border-color: grey;
    }
    .play:hover{
        background-color: rgb(236, 234, 111);
    }
    .pause{
        width: 300px;
        height: 50px;
        background-color: rgb(241, 160, 8);
        cursor: pointer;
        border-radius: 5px;   
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right: 10px;
        border: solid 1px;
        border-color: grey;
    }
    .pause:hover{
        background-color: rgb(236, 234, 111);
    }
</style>