<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>

    <div id="app">
      <h1>Todo OK</h1>
      {{ message }}
      <span v-if='seen'>Now you see me</span>
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
      <ol>
        <li>{{todos[0].text}}</li>
        <li>{{todos[1].text}}</li>
        <li>{{todos[2].text}}</li>
      </ol>
      <input v-model="message">
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!',
          seen: false,
          todos: [
            { text: 'Learn JavaScript' },
            { text: 'Learn Vue' },
            { text: 'Build something awesome' }
          ],
        },
        created () {
          console.log('Created')
        },
        beforeCreate () {
          console.log('Before create')
        },
      })
    </script>
  </body>
</html>